doctype html
html
  head
    title #{sys.name}
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/style.css')
  body
    #wrap.wrap.clearfix
      block header
        #header.header.clearfix
          h1 Find me if you can
      block content
      block js