@import url('libs/bootstrap.min.css');
.wrap {
  width: 100%;
  padding: 20px;
}
.header h1 {
  margin-top: 0px;
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.upload .capture {
  border: 3px dashed #ddd;
  padding: 10px;
  font-size: 10px;
  border-radius: 10px;
  display: block;
  width: 100%;
  text-align: center;
}
.upload button {
  display: block;
  width: 100%;
  margin-top: 30px;
  font-size: 40px;
}
